*{
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    background : rgb(2, 247, 255);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .logo{
    float: left;
    line-height:100px;
}
.logo h1{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 30px;
    margin-left: 4px;
    margin-top: -85px;
}
.container .menu{
    float: right;
    line-height: 100px;
    margin-top: -85px;
    margin-right: -80px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}
.noticias{
    width: 45%;
    max-width: 1200px;
    margin: auto;
    line-height:3px;
    
}

.containerNoticias{
    display: flex;
    margin-left: 100px;
}
.titulo1{
    font-size: 40px;
    line-height: 300px;
    margin: auto;

}
.img1{
    display: flex;
    justify-content: left; 
    padding: 15px;
    margin-left: 5%;
    
}
img{
    border-radius: 24px;
}
.imgLogo{
    margin-left: -85px;
    margin-top: 20px;
}
.img2{
    display: flex;
    justify-content: right;
    padding: 15px;
    margin-right: 5%;
    margin-top: -595px;
}
.info1{
    margin-left:8%;
}
.info2{
    display: flex;
    justify-content: right;
    margin-right: 9%;
}
.info_text{
    display: flex;
    justify-content: right;
    margin-right: 6%;
}
.titulo2{
    text-align: center;
    font-size: 30px;
    padding: 50px;
}
.generales_img1{
    margin-left: 5%;
}
.info_section2{
    margin-left: 23%;
    margin-top:-210px; 
}
.generales_img2{
    margin-top: 100px;
    margin-left:5%;
}
.info_section3{
    margin-left: 23%;
    margin-top:-190px; 
}
.generales_img3{
    display: flex;
    justify-content: right;
    margin-right: 33%;
    margin-top: -466px;
}
.info_section4{
    display: flex;
    justify-content: right;
    margin-top: -200px;
    margin-right: 13%;
}
.info_text2{
    display: flex;
    justify-content: right;
    margin-top: 1px;
    margin-right: 3.5%;
}
.generales_img4{
    display: flex;
    justify-content: right;
    margin-right: 33%;
    margin-top: 130px;
}
.info_section5{
    display: flex;
    justify-content: right;
    margin-right: 160px;
    margin-top: -200px;
}
.info_text3{
    display: flex;
    justify-content: right;
    margin-right: 110px;
    margin-top: 1px;
}
.seccion2{
    padding: 10px;
}